
Meyer Distributing Exam - Junior/.vs/InterviewTest/v17/.futdcache.v2
Meyer Distributing Exam - Junior/.vs/InterviewTest/DesignTimeBuild/.dtbcache.v2
Meyer Distributing Exam - Junior/.vs/InterviewTest/v17/DocumentLayout.json
Meyer Distributing Exam - Junior/.vs/ProjectEvaluation/interviewtest.metadata.v7.bin
Meyer Distributing Exam - Junior/.vs/ProjectEvaluation/interviewtest.projects.v7.bin
Meyer Distributing Exam - Junior/InterviewTest/bin/Debug/net5.0/InterviewTest.deps.json
Meyer Distributing Exam - Junior/InterviewTest/bin/Debug/net5.0/InterviewTest.dll
*.exe
*.pdb
*.json
*.cache
*.dll
Meyer Distributing Exam - Junior/InterviewTest/obj/Debug/net5.0/InterviewTest.csproj.FileListAbsolute.txt
Meyer Distributing Exam - Junior/InterviewTest/obj/Debug/net5.0/InterviewTest.csproj.BuildWithSkipAnalyzers
Meyer Distributing Exam - Junior/InterviewTest/obj/InterviewTest.csproj.nuget.g.props
Meyer Distributing Exam - Junior/InterviewTest/obj/InterviewTest.csproj.nuget.g.targets
Meyer Distributing Exam - Junior/InterviewTest/obj/Debug/net5.0/InterviewTest.GeneratedMSBuildEditorConfig.editorconfig
Meyer Distributing Exam - Junior/InterviewTest/obj/Debug/net5.0/InterviewTest.AssemblyInfo.cs
Meyer Distributing Exam - Junior/InterviewTest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Meyer Distributing Exam - Junior/.vs/InterviewTest/v17/.suo
